.copyright {
  font: $base-font;
  text-transform: uppercase;
  text-align: center;
}

.copyright__text {
  vertical-align: middle;
}

.copyright__link {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: $black;
  outline: none;

  &:hover {
    color: $primary-color;
  }

  &:focus-visible {
    outline: 4px solid $primary-color;
  }

  &:active {
    color: $copyright-active-color;
  }

  @media (min-width: $tablet-width) {
    margin-left: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 55px;
  }
}

.copyright__icon {
  margin-left: 8px;
  vertical-align: middle;

  @media (min-width: $tablet-width) {
    margin-left: 9px;
  }
}
