.copyright {
  font: $base-font;
  text-transform: uppercase;
  text-align: center;
}

.copyright__link {
  text-decoration: none;
  color: $black;

  &:hover {
    color: $primary-color;
  }
}

.copyright__icon {
  margin-left: 13px;
  vertical-align: middle;
}
