.copyright {
  font: $base-font;
  text-transform: uppercase;
  text-align: center;
}

.copyright__link {
  text-decoration: none;
  color: $black;
  outline: none;

  &:hover,
  &:focus {
    color: $primary-color;
  }

  &:active {
    color: $copyright-active-color;
  }
}

.copyright__icon {
  margin-left: 13px;
  vertical-align: middle;
}
