.field {
  font: $accent-font;
  color: $black;
  background-color: $lightgrey;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  max-width: $tablet-width;
  border: none;

  &::placeholder {
    color: transparentize($black, 0.7);
  }

  &:hover {
    background-color: $field-hover-background-color;
  }

  &:focus,
  &:active {
    outline: none;
    background-color: $white;
    box-shadow: 0 0 0 4px inset $border-color;
  }

  &--area {
    height: 150px;
    resize: none;
  }
}
