.field {
  font: $accent-font;
  color: $black;
  background-color: $lightgrey;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  max-width: $tablet-width;
  border: none;
  transition: background-color 0.1s ease-in;

  &::placeholder {
    color: transparentize($black, 0.7);
  }

  &:hover {
    background-color: $lightgrey3;
  }

  &:focus,
  &:active {
    outline: none;
    background-color: $white;
    box-shadow: 0 0 0 4px inset $lightgrey3;
  }

  @mixin field-icon($icon-url) {
    $icon-area-size: 58px;
    background-image: url($icon-url), linear-gradient(270deg, $field-icon-background-color $icon-area-size, rgba(255, 255, 255, 0) $icon-area-size);
    background-position: top 50% right 20px, 0 0;
    background-repeat: no-repeat;
    padding-right: $icon-area-size;
  }

  &--phone {
    @include field-icon("../img/icon-phone.svg");
  }

  &--email {
    @include field-icon("../img/icon-email.svg");
  }

  &--area {
    height: 150px;
    min-height: 150px;
    resize: vertical;

    @media (min-width: $tablet-width) {
      height: 160px;
    }
  }
}
