.form {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.form__grid {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__title {
  text-align: center;
  margin: 0 18px 24px;

  @media (min-width: $tablet-width) {
    flex-basis: 100%;
  }
}

.form__intro {
  text-align: center;
  margin: 0 18px 28px;

  @media (min-width: $tablet-width) {
    max-width: 435px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.form__fieldset {
  padding: 24px 20px 39px;
  margin: 0;
  border-width: 1px 0 0;
  border-style: solid;
  border-color: $border-color;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    flex-basis: 100%;
    border-width: 0;

    &--column {
      flex-basis: 50%;
      box-sizing: border-box;

      &:nth-child(2n) {
        border-left-width: 1px;
      }

      .form__legend {
        display: block;
      }

      .form__legend::before,
      .form__legend::after {
        content: none;
      }
    }
  }

}

.form__legend {
  margin: 0 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }

  &::before,
  &::after {

    @media (min-width: $tablet-width) {
      content: "";
      border-top: 1px solid $border-color;
      flex-basis: 20%;
    }

    @media (min-width: $desktop-width) {
      flex-basis: 30%;
    }
  }

}

.form__group {
  display: block;
  margin-top: 16px;
}

.form__label {
  font: $base-font;
  color: $text-color;
  display: block;
  margin-left: 16px;
  text-transform: uppercase;
}

.form__field-wrapper {
  display: flex;

  &::after {
    content: "";
    flex-shrink: 0;
    display: block;
    width: 58px;
    height: 58px;
    background: $field-icon-background-color no-repeat 50% 50%;
  }

  &--phone::after {
    background-image: url("../../img/icon-phone.svg");
  }

  &--email::after {
    background-image: url("../../img/icon-email.svg");
  }
}

.form__radio-grid {
  display: grid;
  gap: 16px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 16px 50px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, max-content);
    display: flex;
    gap: 16px 61px;
  }
}

.form__checkbox-grid {
  display: grid;
  gap: 16px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 16px 50px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, max-content);
    gap: 16px 64px;
  }
}

.form__option {
  display: block;
  font: $accent-font;
}

.form__footer {
  padding: 17px 20px 13px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    max-width: $tablet-width;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    max-width: $tablet-width;
  }
}

.form__submit {
  @media (min-width: $tablet-width) {
    width: 320px;
  }

  @media (min-width: $desktop-width) {
    width: 380px;
  }
}

.form__footnote {
  font: $footnote-font;
  text-align: right;
  text-transform: uppercase;
  color: transparentize($text-color, 0.4);
  margin: 3px 0 0;
}

.form__field {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
