.like__count {
  font: $highlight-font;
}

.like__button {
  display: inline-block;
  vertical-align: -3px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  padding: 10px 0 0 9px;
  margin-right: 5px;
  color: transparentize($black, 0.7);

  @media (max-width: $mobile-width) {
    margin-left: -9px;
  }

  @media (min-width: $desktop-width) {
    color: inherit;
  }
}
