.media {
  padding-top: 37px;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1)) {
    padding-top: 66px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.media__title {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 0 20px;
}

.media__intro {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}
