.page-header {
  position: relative;
}

.page-header__logo {
  position: absolute;
  z-index: 1;
  width: 185px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  outline: none;

  @media (min-width: $tablet-width) {
    z-index: 1;
  }

  &:focus-visible::after {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    transform: rotate(45deg) skew(4deg, 4deg);
    outline: 4px solid #491213;
    outline-offset: 4px;
    border-radius: 15px;
    top: -155px;
    left: -7.5px;
  }
}

@mixin header-decor {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 57px;
    background: url("../img/header-decor.svg") no-repeat 50% 0;
  }
}

.page-header__cover {
  @include header-decor;
  height: 158px;
  color: $white;
  margin: 0;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  $gradient: linear-gradient(164deg, #e4f1f9 0%, #86b7d5 20%, #7c5253 50%, #491213 90%);

  @media (max-width: $mobile-width) {
    background-image: url("../img/header-mobile@1x.jpg"), $gradient;

    @media (min-resolution: 1.5dppx) {
      background-size: cover;
      background-image: url("../img/header-mobile@2x.jpg"), $gradient;
    }
  }

  @media (min-width: $tablet-width) {
    height: 290px;
    background-image: url("../img/header-desktop@1x.jpg"), $gradient;

    @media (min-resolution: 1.5dppx) {
      background-size: cover;
      background-image: url("../img/header-desktop@2x.jpg"), $gradient;
    }
  }


  &--main {
    height: 389px;

    @media (min-width: $tablet-width) {
      height: 518px;
    }
  }
}

.page-header__welcome {
  margin-top: 70px;

  @media (min-width: $tablet-width) {
    margin-top: 57px;

    width: 450px;
    height: 360px;
  }
}

.page-header__sitename {
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 75px;
    width: 456px;
    height: 77px;
  }
}
