.page-footer {
  padding: 28px 18px 23px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 36px 18px 23px;
    display: flex;
    align-items: center;
  }
}

.page-footer__social {
  @media (min-width: $tablet-width) {
    flex-basis: 200%;
  }
}

.page-footer__copyright {
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    flex-basis: 100%;
    margin-top: 0;
  }
}
