.radio {
  padding: 10px 0 10px 62px;

  /* Hovered */
  &:hover .radio__box {
    background-color: $lightgrey3;
  }
}

.radio__box {
  position: absolute;
  margin-top: -10px;
  margin-left: -62px;
  width: 46px;
  height: 46px;
  overflow: hidden;
  border-radius: 50%;
  background-color: $lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    background-color: $text-color;
    border-radius: 50%;
    opacity: 0;
  }
}

.radio__input {
  position: absolute;
  appearance: none;
  outline: none;

  &:focus-visible + .radio__box {
    outline: 4px solid $lightgrey4;
    outline-offset: -4px;
  }

  /* checked */
  &:checked + .radio__box::after {
    opacity: 1;
  }

  /* Disabled */
  &:disabled + .radio__box {
    background-color: $lightgrey;
  }

  /* checked disabled */
  &:checked:disabled + .radio__box::after {
    opacity: 0.3;
  }
}
