.recommendations {
  padding: 15px 0 26px;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
  font: $base-font;
  color: $text-color;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    text-align: center;
  }
}

.recommendations__item {
  padding: 17px 18px 13px 65px;
  min-height: 120px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 54px 36px 59px;
    flex-basis: 100%;
  }

  @media (min-width: $desktop-width) {
    padding: 54px 60px 79px;
  }

  &::before {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;

    @media (max-width: $mobile-width) {
      position: absolute;
      margin-left: -47px;
      margin-top: -10px;
    }

    @media (min-width: $tablet-width) {
      display: block;
      margin: 3px auto 24px;
      width: 77px;
      height: 77px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
      margin-bottom: 24px;
      width: 80px;
      height: 80px;
    }
  }

  &--house::before {
    background-image: url("../img/house.svg");
  }

  &--food::before {
    background-image: url("../img/burger.svg");
  }

  &--souvenirs::before {
    background-image: url("../img/souvenir.svg");
  }
}

.recommendations__title {
  margin: 0 0 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.recommendations__text {
  margin: 16px 0 0;
}
