.recommendations {
  padding: 15px 0;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
  font: $base-font;
  color: $text-color;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 30px 0;
    display: flex;
    text-align: center;
  }
}

.recommendations__item {
  padding: 15px 18px 15px 62px;
  min-height: 120px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 30px 36px;
    flex-basis: 100%;
  }

  &::before {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;

    @media (max-width: $mobile-width) {
      position: absolute;
      margin-left: -50px;
      margin-top: -10px;
    }

    @media (min-width: $tablet-width) {
      display: block;
      margin: 0 auto 20px;
      width: 80px;
      height: 80px;
    }
  }

  &--house::before {
    background-image: url("../img/house.svg");
  }

  &--food::before {
    background-image: url("../img/burger.svg");
  }

  &--souvenirs::before {
    background-image: url("../img/souvenir.svg");
  }
}

.recommendations__title {
  margin: 0 0 16px;
}

.recommendations__text {
  margin: 16px 0 0;
}
