.recommendations {
  padding: 1px 0 22px;
  margin: 0;
  list-style: none;
  text-transform: uppercase;
  font: $base-font;
  color: $text-color;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-bottom: 60px;
    text-align: center;
  }
}

.recommendations__item {
  margin: 30px 18px;

  @media (min-width: $tablet-width) {
    margin-left: 36px;
    margin-right: 36px;
    flex-basis: 100%;
  }
}

.recommendations__title {
  margin: 0 0 16px;
}

.recommendations__text {
  margin: 16px 0 0;
}
