
// text colors

$text-color: #333333;
$title-color: #000000;
$primary-text-color: #ffffff;

// background colors

$primary-background-color: #81b3d2;
$field-background-color: #f2f2f2;
$field-hover-background-color: #e5e5e5;
$field-active-background-color: #ffffff;
$field-icon-background-color: #e6e6e6;
$header-background-color: #491213;
$benefit-background-color: #eeeeee;

// border colors

$border-color: #e5e5e5;
$benefit-border-color: #d6d6d6;

//fonts

$text-font: 400 14px/21px "PT Sans", tahoma, sans-serif;
$subtitle-font: 700 12px/21px "PT Sans", tahoma, sans-serif;
$title-font: 700 18px/26px "PT Sans", tahoma, sans-serif;
$button-font: 700 21px/26px "PT Sans", tahoma, sans-serif;
$footnote-font: 400 12px/21px "PT Sans", tahoma, sans-serif;
